<template>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Konj</span>
      </div>
    </header>

    <div class="mdl-layout__drawer">
      <nav class="mdl-navigation">
        <router-link class="mdl-navigation__link" to="/" @click.native="hideMenu">Trends</router-link>
        <router-link class="mdl-navigation__link" to="/branches" @click.native="hideMenu">Branches</router-link>
      </nav>
    </div>

    <main class="mdl-layout__content">
      <div class="page-content">
        <router-view></router-view>
      </div>
    </main>
  </div>
</template>

<script>
  require('material-design-lite');

  export default {
    name: 'app',

    methods: {
      hideMenu: () => {
        document.getElementsByClassName('mdl-layout__drawer')[0].classList.remove('is-visible');
        document.getElementsByClassName('mdl-layout__obfuscator')[0].classList.remove('is-visible');
      },
    },
  };
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  @import url('https://code.getmdl.io/1.2.1/material.red-pink.min.css');

  @import "../node_modules/normalize-scss/sass/normalize/import-now";
  @import "stylesheets/fonts";
  @import "stylesheets/mediaquery";
  @import "stylesheets/layout";
</style>
